<header class="header-outer">
  <div class="logo-container">
    <img src="assets/img/nebula-logo.png" alt="Logo" class="logo">
    <h1 class="nebula">nEBULA</h1>
  </div>

  <div class="container">
    <div class="search-container">
      <input type="text" id="nameInput" [(ngModel)]="searchTerm" class="search-box" placeholder="Search your item...">
      <button type="submit"  (click)="searchComponentByName()" class="search-button">Search</button>
    </div>
    <nav class="nav">
      <ul>
        <li><button routerLink="/starter/home">Home</button></li>
        <li><button routerLink="/container/detail/{{currentComponentID}}" routerLinkActive="active">Details</button></li>
        <li><button routerLink="/container/availability/{{currentComponentID}}" routerLinkActive="active">Availability</button></li>
      </ul>
    </nav>
  </div>
</header>

<div class="search-results-wrapper">
  <div class="search-results-container" *ngIf="searchResults.length > 0">
    <h4 class="search-results-header">Search Results:</h4>
    <div class="search-results-ul" *ngFor="let component of searchResults">
      <a class="search-results-button" href="/container/availability/{{component._id}}">{{ component.componentName }}</a>
    </div>
  </div>
</div>

<div class="com-div"  *ngIf="componentData">
    <h3 class="com-name">{{ componentData.componentName }}</h3>
    <img class="com-image" src="{{componentData.componentImage}}" alt="Component Image">

  <div class="com-detail-outer">
    <div class="com-detail-wrapper">
      <div class="com-detail-left"></div>
      <h4 class="com-detail">Component Description</h4>
      <div class="com-detail-right"></div>
    </div>
    <p class="com-detail-txt">{{ componentData.componentDescription }}</p>
  </div>

  <div class="com-detail-outer">
    <div class="com-detail-wrapper">
      <div class="com-detail-left"></div>
      <h4 class="com-detail">Component Connect</h4>
      <div class="com-detail-right"></div>
    </div>
    <p class="com-detail-txt">{{ componentData.componentConnect }}</p>
  </div>
  <div class="com-detail-outer">
    <div class="com-detail-wrapper">
      <div class="com-detail-left"></div>
      <h4 class="com-detail">Component Theory</h4>
      <div class="com-detail-right"></div>
    </div>
    <p class="com-detail-txt">{{ componentData.componentTheory }}</p>
  </div>
  <div class="com-detail-outer">
    <div class="com-detail-wrapper">
      <div class="com-detail-left"></div>
      <h4 class="com-detail">Component Features</h4>
      <div class="com-detail-right"></div>
    </div>
    <p class="com-detail-txt">{{ componentData.componentFeatures }}</p>
  </div>
  <div class="com-detail-outer">
    <div class="com-detail-wrapper">
      <div class="com-detail-left"></div>
      <h4 class="com-detail">Component Statistic</h4>
      <div class="com-detail-right"></div>
    </div>
    <p class="com-detail-txt">{{ componentData.componentStatistics }}</p>
  </div>
</div>



